<div class="card">
  <div class="card-header">
    <h3 class="card-title">Voltage</h3>
    <div class="card-options">
      <button type="button" class="btn btn-default" (click)="onReset()" name="button">
        <i class="fa fa-refresh"></i>
      </button>
    </div>
  </div>
  <div class="card-">
    <rg-gauge-chart
        [canvasWidth]="canvasWidth"
        [needleValue]="needleValue"
        [centralLabel]="centralLabel"
        [options]="options"
        [name]="name"
        [bottomLabel]="bottomLabel"></rg-gauge-chart>
  </div>
</div>
