<div class="card">
  <div class="card-header">
    <h3 class="card-title">Accelerometer</h3>
    <div class="card-options">
      <button type="button" class="btn btn-default" (click)="onReset()" name="button">
        <i class="fa fa-refresh"></i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
            <p-chart #chart1 type="line" [data]="dataX" (onDataSelect)="selectData($event)"></p-chart>
      </div>
      <div class="col-md-4">
            <p-chart #chart2 type="line" [data]="dataY" (onDataSelect)="selectData($event)"></p-chart>
      </div>
      <div class="col-md-4">
            <p-chart #chart3 type="line" [data]="dataZ" (onDataSelect)="selectData($event)"></p-chart>
      </div>
    </div>
  </div>
</div>
