<ul class="nav nav-tabs border-0 flex-column flex-lg-row">
  <li class="nav-item">
    <a class="nav-link" href="#"
      [routerLink]="['/home']"
      routerLinkActive="active"><span class="nav-text">Home</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"
      [routerLink]="['/imu']"
      routerLinkActive="active"><span class="nav-text">IMU</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"
      [routerLink]="['/gps']"
      routerLinkActive="active"><span class="nav-text">GPS</span>
    </a>
  </li>
</ul>
