<div class="row">
  <div class="col-md-12">
    <app-gps [gps]="gps"></app-gps>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <app-humidity [humidity]="humidity"></app-humidity>
  </div>
  <div class="col-md-3">
    <app-presion [presion]="presion"></app-presion>
  </div>
  <div class="col-md-3">
    <app-temperature-out [temperature]="temperatureOut"></app-temperature-out>
  </div>
  <div class="col-md-3">
    <app-temperature-in [temperature]="temperatureIn"></app-temperature-in>
  </div>
  <div class="col-md-3">
    <app-voltage [voltage]="voltage"></app-voltage>
  </div>
  <div class="col-md-3">
    <app-speed [gps]="gps"></app-speed>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <app-altitude [altitude]="altitude"></app-altitude>
  </div>
  <div class="col-md-6">
    <app-vibration [vibration]="vibration"></app-vibration>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <app-accelerometer [data]="data"></app-accelerometer>
  </div>
  <div class="col-md-12">
    <app-gyroscope [data]="data"></app-gyroscope>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <app-gyroscope-dd [data]="data"></app-gyroscope-dd>
  </div>
  <div class="col-md-6">
    <app-webcam></app-webcam>
  </div>

</div>
